* {
    margin: 0;
}

:root {
    --primary: #f90200;
    --secondary: #df0001;
    --tertiary: #a31609a8;
    --bg: light-dark(#f3f3f3, #1e1e1e);
    --font-color: light-dark(#000, #eee);
    --max-text-width: 1088px;
    color-scheme: light dark;
}

html {
    scroll-behavior: smooth;
    min-width: 350px;
}

body {
    background-color: var(--bg);
    font-family: Afacad, sans-serif;
    font-weight: 600;
    color: var(--font-color);
    overflow-x: hidden;

    button {
        font-family: Afacad, sans-serif;
        font-size: clamp(0.9rem, 1.7vw, 1.5rem);
    }

    ::selection {
        background-color: var(--primary);
        color: var(--bg);
    }
}

section {
    padding: 4rem 2rem;
    margin-inline: auto;
    max-width: var(--max-text-width);
    user-select: contain;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 1.5rem;
            padding: 0.25rem 1rem;
            font-weight: bold;
            user-select: none;
            background-color: var(--bg);
            border: solid 1px;
            transition: all 400ms ease-out;
            overflow: hidden;

            img {
                height: 1.5rem;
            }
        }

        button:hover {
            cursor: pointer;
            padding: 0.25rem 0.35rem;
            column-gap: 0.1rem;
            background-color: var(--primary);
        }
    }

    hr {
        border: solid 1px var(--font-color);
        filter: blur(12.5px);
    }

    h1 {
        font-size: clamp(2rem, 5.7vw, 3.5rem);
        color: var(--font-color);
        text-wrap: balance;
        position: relative;
        /* -webkit-text-stroke: 1.6px var(--font-color); */
    }

    h1::after {
        content: "";
        position: absolute;
        inset: 80% 0;
        transform: translateY(50%);
        background-color: var(--font-color);
        width: 0;
        height: 2px;
    }
}

@keyframes section-title-underline {
    0%,
    30% {
        width: 0;
    }

    45%,
    80% {
        width: 100%;
    }

    95% {
        width: 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    section h1::after {
        animation: section-title-underline ease-out both;
        animation-timeline: view();
    }
}